body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

html {
height:100%
}

html,body {
margin:0;padding:0;
}

body{
text-align: center;
min-width:650px;
background-color: #000080;
}

#vertical{	
position:absolute;
top:50%;	
margin-top:-130px;/* half flash height*/	
left:0;
width:100%;
}

#hoz {
width:624px;/* flash width*/
margin-left:auto;
margin-right:auto;	
height:395px;/* flash height*/
}

#number {
    color: #9c6114;
    font-family: Arial; 
    font-size: 220pt; 
    line-height: 220pt;
    font-weight: bold;
}

#info {
    color: #FFFFFF;
    text-align: left;
     font-family: Arial; 
     font-size: 10pt;
     padding-left: 150px;
}